*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
    color: #fff;

}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #000;
}
#nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#nav-pa{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    
}
#nav h1{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#nav>i{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;

}
#nav h5{
    font-size: 15px;
    font-weight: 400;
}
#nav img{
    width: 150px;
}
#line{
    width: 70px;
    height: 2px;
    background-color: red;

}
#cont{
    display: flex;
    height: calc(100% - 100px);
    width: 100%;
    justify-content: space-between;
    position: relative;
    /* background-color: aqua; */
}
#left{
    width: 36%;
    height: 100%;
    /* background-color: blueviolet; */
    padding: 100px 100px;
    
}
#left h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;

}
#left h1 span{
    color: red;
    font-weight: 400;
}
#left p{
    font-size: 15px;
    width: 60%;
    line-height: 20px;
    margin-bottom: 30px;
}
#left button{
    background-color: red;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
}  
#left button i{
    margin-right: 20px;
}  
#center{
    width: 22%;
    height: 100%;
    /* background-color: red; */
    padding-top:31px;
}
#center-bg{
    background-color: red;
    width: 100%;
    height: 90%;
    border-top-left-radius: 1000px;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    background-image: url('https://c0.wallpaperflare.com/preview/85/135/782/coca-cola-led-signage.jpg');
    background-size: 460%;
    background-position: 32% 42%;
    filter: blur(1px);

}
#right{
    width: 36%;
    height: 100%;
    padding: 200px 20px; 
    /* background-color: blueviolet; */
}
#right-elem{
    /* background-color: red; */
    width: 350px;
    cursor: pointer;
}
#elem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    opacity: 0.5;
    border-bottom: 1px solid #fff;
}
#elem1 h1{
    font-size: 20px;
    font-weight: 500;
}
#elem1 i{
    font-size: 20px;
    font-weight: 500;
}
#elem2 h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 2px;
}
#elem2 p{
    font-size: 12px;
    width: 70%;
    opacity: 0.5;
}
#cont>img{
    height: 100%;
    position: absolute;
    left: 49%;
    transform: translate(-50%,0);
}